# Ansible Inventory - Olympic Data ETL
# Usage: ansible-playbook -i inventory/hosts.yml playbooks/deploy.yml

all:
  vars:
    # Common variables
    gcp_project_id: "{{ gcp_project_id | default('your-gcp-project-id') }}"
    gcp_region: "{{ gcp_region | default('us-central1') }}"
    environment: "{{ environment | default('dev') }}"
    
    # Python & dependencies
    python_version: "3.11"
    
    # Docker
    docker_compose_version: "2.20.0"
    
    # GCP
    gcp_service_account_name: "olympic-etl-{{ environment }}-sa"
    gcp_dataset_name: "olympic_analytics_{{ environment }}"
    gcp_bigquery_table: "medals"
    
    # Storage buckets
    gcp_bucket_input: "{{ gcp_project_id }}-beam-input"
    gcp_bucket_temp: "{{ gcp_project_id }}-beam-temp"
    gcp_bucket_dlq: "{{ gcp_project_id }}-beam-dlq"
    gcp_bucket_output: "{{ gcp_project_id }}-beam-output"
    
    # Dataflow
    dataflow_template_path: "gs://{{ gcp_project_id }}-beam-templates/olympic-etl-{{ environment }}"
    dataflow_job_name: "olympic-etl-{{ environment }}"
    dataflow_workers: "{{ dataflow_workers | default('2') }}"
    dataflow_max_workers: "{{ dataflow_max_workers | default('20') }}"
    dataflow_machine_type: "n1-standard-4"
    
    # Azure
    azure_resource_group: "olympic-etl-rg-{{ environment }}"
    azure_location: "eastus"
    azure_data_factory_name: "olympic-etl-adf-{{ environment }}"
    azure_storage_account: "olympic{{ environment }}storage"
    
    # Slack notifications
    slack_webhook_url: "{{ slack_webhook_url | default('') }}"
    
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: "{{ ansible_python_interpreter | default('/usr/bin/python3') }}"

  children:
    gcp:
      hosts:
        localhost:

    azure:
      hosts:
        localhost:

    docker:
      hosts:
        localhost:
